@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');



@import url('layouts/header.css');
@import url('/home/css/slide.css');
@import url('/home/css/feature.css');
@import url('/home/css/bestseller.css');
@import url('/home/css/co-folder.css');
@import url('/home/css/news.css');
