@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');


@import url('layouts/header.css');
@import url('layouts/footer.css');
@import url('layouts/breadcrumb.css');
@import url('layouts/chatbot.css');