@import url('base/reset.css');
@import url('base/variables.css');
@import url('base/typography.css');



@import url('layouts/header.css');
@import url('layouts/chatbot.css');
@import url('layouts/footer.css');
@import url('/page/home/css/slide.css');
@import url('/page/home/css/feature.css');
@import url('/page/home/css/bestseller.css');
@import url('/page/home/css/co-folder.css');
@import url('/page/home/css/news.css');
